@model app.Model.ViewModel.Product.SearchProductViewModel
@using app.Common;
@using System.Data;

@{
    ViewData["Title"] = "Case List";
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Search</h3>
                    </div>
                    <div class="card-body dataTable-search-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ProductName"></label>
                                    <input asp-for="ProductName" type="text" class="form-control-sm form-control enter-keyup">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Barcode"></label>
                                    <input asp-for="Barcode" type="text" class="form-control-sm form-control enter-keyup">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="CategoryId"></label>
                                    <select asp-for="CategoryId" class="form-control form-control-sm" asp-items="Model.CategoryList">
                                        <option value="">Select Agency</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="UnitOfMeasureId"></label>
                                    <select asp-for="UnitOfMeasureId" class="form-control form-control-sm" asp-items="Model.UnitOfMeasureList">
                                        <option value="">Select Investigation type</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Status"></label>
                                    <select asp-for="Status" class="form-control form-control-sm" asp-items="Model.StatusList">
                                        <option value="">Select Status</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <div class="form-group">
                                    <form asp-controller="Product" asp-action="Upload" method="post" enctype="multipart/form-data">
                                     <div style="display: inline-block;">  <input type="file" name="postedFile"  class="btn btn-secondary" /></div> 
                                      <div style="display: inline-block;"> <input type="submit" class="btn btn-danger"  value="Bulk upload cases" /><i class="fas fa-upload"></i></div> 
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <button id="btnClear" type="button" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i> Clear</button>
                                <button id="btnFilter" type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> Search</button>
                                
                                @if(User.IsInRole(Constants.ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_CREATOR_ROLE))
                               {
                                <a class="btn btn-info btn-sm" href="/Product/Create"><i class="fas fa-plus"></i> Create Case</a>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Cases List</h3>
                    </div>
                    <div class="card-body">
                        @if (Model.DataTable != null)
                        {
                            <hr />
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    @foreach (DataColumn dc in Model.DataTable.Columns)
                                    {
                                        <th>@dc.ColumnName</th>
                                    }
                                </tr>
                                @foreach (DataRow dr in Model.DataTable.Rows)
                                {
                                    <tr>
                                        @foreach (DataColumn dc in Model.DataTable.Columns)
                                        {
                                            <td>@dr[dc.ColumnName]</td>
                                        }
                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Case Name</th>
                                    <th>Case code</th>
                                    <th>Price</th>
                                    <th>Agency</th>
                                    <th>Investigation type</th>
                                    <th>Status</th>
                                    <th style="width:15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        } 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section style{
    <partial name="~/Views/Shared/_DataTableStylePartial.cshtml" />
}
@section script{
    <partial name="~/Views/Shared/_DataTableScriptPartial.cshtml" />
    <script src="~/pages/product/product-list.js"></script>
}

