@using Microsoft.AspNetCore.Http;
@using app.Common;

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">Dashboard</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Mailbox
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/mailbox.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inbox</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../mailbox/compose.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Compose</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../mailbox/read-mail.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Read</p>
                </a>
              </li>
            </ul>
          </li>
        <li class="nav-header">Admin</li>
        <li class="nav-item">
            @if(User.IsInRole(Constants.ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_CREATOR_ROLE))
            {
            <a href="/Product" class="nav-link">
                <i class="nav-icon fas fa-barcode"></i>
                <p>
                    Claim case
                </p>
            </a>
            }
        </li>
        <li class="nav-item">
            @if(User.IsInRole(Constants.ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_CREATOR_ROLE))
            {
            <a href="/Category" class="nav-link">
                <i class="nav-icon fas fa-folder"></i>
                <p>
                    Agency
                </p>
            </a>
            }
        </li>
        <li class="nav-item">
            @if(User.IsInRole(Constants.ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_ADMIN_ROLE))
            {
                <a href="/UnitOfMeasure" class="nav-link">
                <i class="nav-icon fas fa-box-open"></i>
                <p>
                    Case types
                </p>
            </a>
            }
        </li>

        <li class="nav-item">
            @if(User.IsInRole(Constants.ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_ADMIN_ROLE))
            {
                <a href="/Store" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    Company
                </p>
            </a>
            }
        </li>
        
        <li class="nav-item">
            @if(User.IsInRole(Constants.ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_ADMIN_ROLE))
            {
                <a href="/User" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    User
                </p>
            </a>
            }
        </li>
        <li class="nav-item">
            @if(User.IsInRole(Constants.ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_ADMIN_ROLE))
            {
                <a href="/Role" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    Role
                </p>
            </a>
            }
        </li>  
       @if(User.IsInRole(Constants.ADMIN_ROLE) || User.IsInRole(Constants.CLIENT_ADMIN_ROLE))
       {
       <li class="nav-header">Invoice</li>
        <li class="nav-item">
            <a href="/Transaction" class="nav-link">
                <i class="nav-icon fas fa-truck"></i>
                <p>Transactions</p>
            </a>
        </li>
        <li class="nav-header">Report</li>
        <li class="nav-item">
            <a href="/Report/StoreStockReport" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>Claims progress</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/TransactionDetailReport" class="nav-link">
                <i class="nav-icon fas fa-list-alt"></i>
                <p>Claims Detail</p>
            </a>
        </li>              
       }
        <li class="nav-header"></li>
        <li class="nav-item">
            <a href="/Auth/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    Logout
                </p>
            </a>
        </li>

    </ul>
</nav>